<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>section00</key>
	<dict>
		<key>place03</key>
		<dict>
			<key>bookInfo</key>
			<array>
				<dict>
					<key>imageUrl</key>
					<string>http://cdn.duitang.com/uploads/item/201502/24/20150224175744_QYTHy.jpeg</string>
					<key>contentInfo</key>
					<string>我时常幻想自己是来自未来的，这样，有一天我面对未来某一时刻的突然变化，就会更从容，面对陈年往事也会更慷慨。但，我更适合平庸，如寻常人一样琐碎繁杂的生活，对时间的细枝末节斤斤计较。

既然无法预知未来，那么人更多的开始依赖回忆，甚至靠那些零星琐碎的回忆支撑往后的日子，有些回忆很美好，有些回忆很心酸，有些回忆让人长大，有些回忆让人显得很无知，有些回忆慢慢泛黄，有些回忆仿佛就在昨天。有些故事也总是从儿时的回忆展开。

我对阿富汗以及周边连年征战的国家和他们的历史毫无兴趣，对我而言，那里的人民是可怜的，那里的政府是可悲的，所以当《追风筝的人》这个故事一点一点展现在我面前的时候，我并没准备好接受一个平静的，也曾春暖花开，羊肉串香飘整条街的画面，更没想到那里的孩子也可以无忧无虑的追逐风筝。

所以当身为少爷的阿米尔和他的仆人哈桑情同手足的画面一出现，所有读者不禁感叹，少年时的友谊是那么充满力量，干净而持久的。他们总是并肩而行，每当阿米尔被人欺负的时候，哈桑总是义无反顾的站出来保护，很多人说这是哈桑天生的奴性，这种观点我不赞同，我看见他们之间分明有一道友谊的光芒在闪耀。

当阿米尔问哈桑为什么确定自己一定会知道被切断绳线的风筝的掉落地的时候，哈桑肯定的对阿米尔说，我就是知道，然后反问，我什么时候骗过你。阿米尔轻声说，我怎么知道有没有骗过我。哈桑发誓，为了你，我宁可啃烂泥。阿米尔进一步确定，你真的会为我啃烂泥？哈桑坚定的说，我肯定，然后又说，但是你又怎么能忍心让我啃烂泥。所以读者心中所向往的也就是我们每个人心中那个潮湿的童年印象，总是和自己最亲密的伙伴，席地而坐，互相盟誓，发誓为对方，甘愿上刀山下火海。就如同哈桑洋溢着笑脸对阿米尔说的那样：为你，千千万万遍。</string>
				</dict>
				<dict>
					<key>imageUrl</key>
					<string>http://cdn.duitang.com/uploads/item/201508/07/20150807191914_VdHki.jpeg</string>
					<key>contentInfo</key>
					<string>然而事实上却是这样的：他是主人，他是仆人；他是普什图，他是哈扎拉；他是逊尼派，他是什叶派，从他们出生的那一刻起，他们的命运就被这些他们所不能理解的标签所分隔开来，尽管他们是亲密无间的朋友，尽管他们事实上拥有同一位父亲。无论是平凡的阿米尔和哈桑，还是高高在上的查希尔国王或者卡尔扎伊，都不得不接受社会为他们预定的座位——阿米尔不再是阿米尔，哈桑也不再是哈桑，他们必须戴上社会分给他们的面具。

哈桑总是说“为你，千千万万遍”，而生性懦弱的阿米尔却选择沉默冷酷的逃避，这样的悲剧性结果并不单单是个性差异所造成的，在这些年少无知的孩子的潜意识里早已被灌输了相应于自身社会地位的“应该”与“不应该”，一个哈扎拉仆人理应为主人尽忠，而高贵的普什图少爷不值得为一个卑贱的哈扎拉仆人冒任何风险。

“阿米尔和哈桑，喀布尔的统治者”，这样的誓言只能是石榴树下的童话，“王子与贫儿”不可能成为兄弟，因为他们命中注定不平等。包括二十年后，阿米尔重返阿富汗的自我救赎行为，也只不过是在获知自己与哈桑的同父异母兄弟关系之后对身世的无奈认可，也就是说，他仍然没有证明自己已经找到了“重新成为好人的路”。

我们少年的时候，总是意气风发，三五结伴，促膝长谈。那是在我们其乐融融的环境中构建的虚拟场景，属于物理学讲究的理想状态，然而在残酷的现实面前，在微弱的友谊遇到挑战的时刻，只要有一方露出破绽，友谊的桥梁必然坍塌。

于是当阿米尔在看到哈桑被大一些的孩子欺负甚至猥亵的时候，他选择沉默和逃避；与此同时，哈桑却为了阿米尔的风筝坚定不动摇的和对手较量，对手残忍的揭示阿米尔和哈桑之间的主仆关系，哈桑大声反驳说两个人是朋友。躲在角落里不敢出现的阿米尔听到这句话不但没有一点激励也没有丝毫感动，他心底里的怯懦终于将他的灵魂吞噬，于是悲剧发生。

这就是我们对友谊最大的误解，认为它是万能的。

即使是存在这样的问题，《追风筝的人》也还是一本出色的小说。主和仆、贵族和贱民、朋友和兄弟，历史和现实，种种转变都被刻画得生动而细腻。放在历史的宏大背景下，更洞见人生和人性的复杂。

友谊和爱。

是在困难之中由弱变强的柔韧派还是在权衡利弊之中土崩瓦解的懦弱派。

谁敢真的站出来举起右手发誓，我从来没有辜负过任何一段纯粹的友谊，谁敢真的抬头挺胸说自己对朋友忠心不二。

我们总是太自信，对友谊误解，对自己的爱误解，对不可能的事信以为真。</string>
				</dict>
			</array>
			<key>bookGlideImg</key>
			<array>
				<string>http://img5.duitang.com/uploads/item/201504/09/20150409H4907_SGvYh.jpeg</string>
				<string>http://cdn.duitang.com/uploads/item/201209/27/20120927195138_F8Nrn.thumb.700_0.png</string>
				<string>http://img4.duitang.com/uploads/item/201404/04/20140404202713_VxVRZ.jpeg</string>
			</array>
		</dict>
		<key>place02</key>
		<dict>
			<key>bookInfo</key>
			<array>
				<dict>
					<key>imageUrl</key>
					<string>http://img4.duitang.com/uploads/item/201503/27/20150327191845_ALVcz.jpeg</string>
					<key>contentInfo</key>
					<string>【人生两难的决定，总被「爱」成全】

故事中，无论是〈回答在牛奶箱里〉徘徊在奥运﹙梦想﹚与绝症男友﹙爱情﹚之间的月兔，还是〈深夜的口琴声〉挣扎在成为职业歌手﹙理想﹚与继承鱼店家业﹙责任﹚的克郎，抑或是决定是否抛弃﹙不信任﹚父母的浩介，都曾有过难以抉择的时刻。于是，他们不约而同选择向解忧杂货店求助。前两者在小偷三人组简单粗暴的回复下歪打正着﹗歪打正着的不是结果，而是他们在现实打压下因懦弱想逃避的心。他们都努力了多年：月兔想参加奥运，又怕选不上；克郎想成为职业歌手，却怕最终只是梦。所以，月兔以想照顾病重男友为由，克郎也以年迈体弱的父亲为由，说服自己放弃真正想要的东西合情合理。然而，一眼看穿他们的，正是他们自以为找到的最好理由。

其实，这样的月兔和克郎与生活中的我们何其相似。有时即便心中有真正想做的事，也会因害怕失败而找各种借口忽视。最好的借口就是为了重要的人不得不放弃，似乎只要不是自己的原因，心头的重担就能减轻一些。然而，这终究只是自欺欺人的想法，事实永远不会因为转念而消失。我们习惯回避的往往是自己最在意的。小偷三人组的回信让月兔与克郎无法逃避，月兔男友与克郎父亲则替他们做了他们想要却不敢要的选择。

每次在歌唱比赛上看到那些斩钉截铁表达要实现音乐梦想的人，总有几分佩服，但质疑也少不了，毕竟才华不是人人皆有。有时会想，那些人到底哪来的自信啊﹖也没好到一定能以音乐为业吧﹗就像乐评人评论克郎：唱得好，但没有特色。事实上，这样的人也确实占大多数，努力了一辈子也未必会出头的更比比皆是。突然想到每次比赛总少不了参赛者家人的镜头，最激动的也莫过于他们。站在旁观者的角度觉得这些似曾相识的画面好煽情﹗但仔细一想，这也许就是怀揣音乐梦想的人之所以能坚持到底的原因：有一个人比你更相信自己，那个人还是你深爱的人，你又怎能不相信自己呢﹖克郎的父亲就是如此。因此不管结果如何﹖克郎只能继续往前走。父亲的信任是压力，也是让他变得更好的动力。只要还有力量，就有一线希望。而人生的价值就在对方的心意与自己一点一滴的努力中逐渐成形。所以，月兔得到了比金牌更有价值的东西；克郎也留下了比生命更长久的影响人心的作品。

读〈听披头士默祷〉时，感觉像是浩介的第一人称在叙事。从他对披头士的热烈喜爱到看完电影后的彻底失望，整个人的心境也有了一百八十度大转弯。他选择聆听自己当下的心声：远离已经不再信任的父母，抛弃过去的一切，展开全新的人生。后来的他也过得挺好，以至于一直认为他是靠自己的力量摆脱与糟糕父母捆绑的命运。然而事实恰好相反。虽然浩介戏剧性的人生与一般人相差甚远，却在读到他意外得知真相后，产生一种与其相近的复杂的同理心。回想自己的人生，也曾有过与父母截然不同的想法，也曾因此有过争执不快，也曾像浩介一样希望能远远离开。幸运的是，偏执的我在尚未远离前就得到了父母的理解，他们也许未必认同，却不再坚持己见，让我自由选择想要的人生。以前我也有如同浩介般自以为是的心态，觉得是自我坚持改变了自己的人生。后来才渐渐明白是那些爱我的人用体贴之心成全了我的人生，那些看不见的付出与支持，才是我得以随心所欲做自己的关键。当我们眼里不再只有自我，潜意识的傲慢才会慢慢消失，那个更好的自己也将逐渐成形。</string>
				</dict>
				<dict>
					<key>imageUrl</key>
					<string>http://img01.store.sogou.com/net/a/04/link?appid=100520031&amp;w=600&amp;url=http://mmbiz.qpic.cn/mmbiz/jN1BcgcfMuKZcjv4HwV6kQA4y10KyTzOVRicAAR9XSs01XvVNbCwMLiabvTEpUvlS4xADAXsLibiakjZwfRQSpma5w/0?wx_fmt=jpe</string>
					<key>contentInfo</key>
					<string>【认真对待，是彼此的救赎】

解忧杂货店，因杂货店老板浪矢老爷爷为来信者解忧排难而闻名。一开始收到的也只是孩子们恶作剧的问题，但浪矢爷爷仍用心回复，这在一般人眼里简直不可思议﹗但浪矢爷爷却说：『不管是骚扰还是恶作剧，写这些信给浪矢杂货店的人，和普通咨询者在本质上是一样。他们都是内心破了个洞，重要的东西正从那个洞流失。人的心声是绝对不能无视的。』结果，确实如浪矢爷爷所料，那些用心回复的答案真的对当年恶作剧的孩子起了决定性的作用。浪矢爷爷深谙人心的秘诀就在于“认真对待”四个字。

我非常喜欢《解忧杂货店》书信往返的部分。无论是来信者俱细靡遗的叙述，浪矢老爷爷温和真挚的笔触，或是小偷三人组犀利直白的回复，都能感受到彼此之间的“认真对待”。穿越时空，回到三十年前，最令人怀念的是一切看似匮乏却比现在更丰饶的人心。当时网络还不发达，无法实时传递讯息，也没有现在如影随形的手机，“写信”是不在一处的人们最常见的沟通方式。而写信与说话最大的不同在于写下的一字一句都经过思考，对方的来信也会因反复阅读而产生不同的想法。记忆中难忘的人都有一段美好的通信时光，那种将对方当作日记般倾诉的信任感现在想来真是弥足珍贵﹗虽然不能像现在立刻收到回信，却也让等待的时间因期盼而生暖意。在这个科技进步的时代，通讯便利，一切讲求效率，什么都很快，似乎不及时回应就会有失礼数或落于人后之感。然而，没有任何缓慢的空间，怎么都停不下来，也让人心生焦虑﹗人与人之间的交流比以往更多，可有时说了半天，却又像什么都没说。看起来很近，实际上却很远。

我想，我真正喜欢的也许是“静下心”的感觉。阅读《解忧杂货店》与东野圭吾一贯的推理小说截然不同，虽然一样有悬念，却没有停不下来的急迫感﹗会一直想看下去，但每一章节有所关联却又独自成篇的架构，彷佛以往等信的时间，让人觉得不着急慢慢来也很好。许多动物都需要冬眠，我觉得人也一样需要自我沉淀的时间。人生总会有层出不穷的问题，疑惑也不是年岁渐长就能找到正确答案。如同浪矢爷爷所说：『如果自己不想积极认真地生活，不管得到什么答案都没用。』其实那些寄信到浪矢杂货店的人们在发问的同时，心里早已有了答案，只是需要别人的认同来支持自己不够强大的信念。真实生活中的我们也是如此，需要时间与空间让自己好好想一想，在得到答案的同时，也需要一点支撑的力量，那力量就是被人“认真对待”。

一直觉得人与人之间最可贵的是互相善待的心意。浪矢爷爷与小偷三人组绞尽脑汁为写信咨询者排忧解难，也在他们一封封认真的回复中得到比金钱更有价值的存在感。浪矢爷爷的杂货店生意萧条，几乎是在做赔本生意，唯一的儿子也不愿留在乡下，独自生活的浪矢爷爷其实很孤独，为人解忧成为他生活的寄托。印象最深的是浪矢爷爷对那封空白信的回复，在人人都强调自我的时代，能设身处地为他人着想，慎重对待别人的心声，让看起来一无所有的浪矢爷爷成为最富足的人。而旁人看来在社会底层的小偷三人组，本非奸恶之人，无法选择的出身，命运残酷的捉弄，让即便想力争上游也无能为力的他们走上歹路。然而他们并未因此对其他人充满恶念，在力所能及的范围下，他们成为年轻版的浪矢爷爷，人生第一次有了存在感，并因为一念之善奇妙扭转了原本必然走向悲剧的人生。

有人说《解忧杂货店》是东野圭吾版的心灵鸡汤，但我认为这样的说法就像只看到小偷是“小偷”一样。小偷确实是小偷，但小偷绝不只是小偷。把表面看到的当作是全部，是这世界惯有的粗暴思维，却也是看到这本书的我们得以放下单一思考模式的机会。对就是对，错就是错，但在对错之间人的挣扎与改变似乎更值得一探究竟，这本小说隐而未言的重要部分或许就在此。“心灵鸡汤”未必是贬抑词，一碗能让人想一喝再喝，且喝完能脱胎换骨﹑丰富心灵的鸡汤，有何不可呢﹖

『有时伤害，有时相助，人们总在不经意的时候与他人的人生紧密相连。』这是对《解忧杂货店》的贴切批注，也让我想起以前看完《刺猬的优雅》的感受。我们浑身的刺因被他人误解而益发尖锐，只想躲在自己的世界里，却也因为他人善意的相助，开始变得柔软，愿意面向虽然阴暗却偶有阳光的真实世界。我们是什么样子﹖世界就是什么样子﹖《解忧杂货店》解的是别人的忧，却在无形中填补了我们内心的破洞，并用最巧妙的方式告诉你：微小却长存的善意，才是解忧的不二之法。</string>
				</dict>
			</array>
			<key>bookGlideImg</key>
			<array>
				<string>http://cdn.duitang.com/uploads/item/201511/11/20151111095923_mYsdc.jpeg</string>
				<string>http://imgsrc.baidu.com/forum/w%3D580/sign=922f916dcd3d70cf4cfaaa05c8dcd1ba/a4f8014f78f0f73642d28f550e55b319eac413d6.jpg</string>
				<string>http://fileimage.inewsweek.cn/fck_upload/20151010/14444565381294.jpg</string>
			</array>
		</dict>
		<key>place01</key>
		<dict>
			<key>bookInfo</key>
			<array>
				<dict>
					<key>imageUrl</key>
					<string>http://cdn.duitang.com/uploads/item/201206/19/20120619182139_tUUMa.thumb.700_0.jpeg</string>
					<key>contentInfo</key>
					<string>人生来是一个人，走时是一个人，除了生命本身，你带不来任何东西，也带不走任何东西。这就是人永恒的孤独。

《百年孤独》给我的感觉，像是一群孤独的人把蜡烛一般的生命如火炬一般燃烧。里面每一个人都有一种从一而终的秉性，而那种秉性不过是为了让自己更加剧烈得燃烧。布恩迪亚家族里每个人都浪漫而抒情，哪怕是最冷漠的上校，也曾有最柔软的一面——他钟情于幼小的雷梅黛丝，并且如此热切地祈祷着迎娶她。但是最后呢？家族的第一人被捆在树上，家族的最后一人正在被蚂蚁吃掉。

我第一次看这本书的时候，是高中。一开始我买回来，粗略地、满含痛苦地去看它，然后我便变得痛苦难耐。它太难懂了。光是那些长得如同蕾丝边的名字就让我头晕脑胀。我本以为它就这样会被放在我的书柜里，永远不再被我拿出来。但是高三的时候，一切都不一样了。我仿佛还是原来的我，只是在某天复习到厌倦的时候，在自习课上拿出了《百年孤独》。本来权当消遣的读物，不知不觉把我吸引住了。它不再是一本难读懂的书，它小说的一面终于向我展开，变得生动而残酷。你读一本书的时候，书也在选择你。你不到一个心境，不到一个境界，你将无法拥抱那本书，即使你强硬地读完了，也只不过是浅浅的流读，不能在你的生命里留下一点划痕。


觉得人的内心苦楚无法言说，人的很多举措无可奈何，百年一参透，百年一孤寂。

比起喜剧，我更中意悲剧。《百年孤独》里的人，每一个人都活出了精彩——无论是上校，还是雷梅黛丝，还是乌尔苏拉，还是何塞•阿尔卡蒂奥。他们都切实地活着——虽然他们的活着十分魔幻色彩，但还是给我一种血肉饱满的真实感。不然为何马尔克斯在写完上校死的时候，竟然为他痛哭？

有人曾问我百年孤独都说了什么，作为一部小说，它的剧情是什么。我想了想，一时半会想不出形容它剧情的梗概。难道我要说，一座城市，一个家族的兴衰？这是美帝奇家族，不是布恩迪亚家族。非要说的话，故事讲述了一个家族的孤独者的轮回，而这轮回又必然地走向衰败。因为他们不得永生。

我在想，为何我会被这篇小说吸引，为何我觉得它十分动人？大概是因为它的孤独观。所有的伟大与渺小，所有的偏激与冷漠，最后都归因于他们的孤独。上校这个角色是我最喜欢的角色，他冷漠，绝情，不通人性，虽然在最初将爱献给了花朵般的雷梅黛丝，最后仍然永远是孤独的一个人。他把一点对生命的火焰与激情，都消耗在了革命的道路上，最后没有留下一个子嗣，因为那些奥雷利亚诺们都死了。最后翻来覆去地做小金鱼也是一种排解孤独的手段，是他最后的抗争。他最终死在马戏团离开后的一棵树下，头抵着树干，蜷着像是婴儿。难怪马尔克斯写完后难过，就连我看完后也不得不说，这是我最喜欢的死亡场景之一。它压抑，冷静，却有着不容置疑的残酷。孤独，孤独，孤独。整篇文章笼罩在这个词汇下，动人而压抑。


所有人都显得很寂寞，用自己的方式想尽办法排遣寂寞，事实上仍是延续自己的寂寞。</string>
				</dict>
				<dict>
					<key>imageUrl</key>
					<string>http://img4.duitang.com/uploads/item/201406/09/20140609154309_Kwh4u.thumb.700_0.jpeg</string>
					<key>contentInfo</key>
					<string>然而抛开文学以外，孤独并不是个引以为豪的标签或者是什么动人心魄的伟大力量。它只不过是人的一种秉性。

人可以孤独，不必当洪水猛兽，也不必把它当做一个什么信标一样的东西；孤独只不过是与生俱来的排斥他人的感觉，只不过是一小部分自我。去坦然接受，然后面对，最后与它坦诚相对，是比较安稳的生活状态。人不是活在剧本和戏曲里，没必要把蜡烛燃烧成火炬。</string>
				</dict>
			</array>
			<key>bookGlideImg</key>
			<array>
				<string>http://cdn.duitang.com/uploads/item/201512/29/20151229230411_Z2TGQ.jpeg</string>
				<string>http://cdn.duitang.com/uploads/item/201508/05/20150805231619_imhxt.jpeg</string>
				<string>http://img4.duitang.com/uploads/item/201406/09/20140609154309_Kwh4u.jpeg</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
