<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>item0</key>
	<dict>
		<key>section03</key>
		<array>
			<string>http://img4.duitang.com/uploads/item/201508/06/20150806115740_KRQFU.jpeg</string>
			<string>http://img5.duitang.com/uploads/item/201405/02/20140502220413_E8XUf.jpeg</string>
			<string>http://tupian.aladd.net/photo5/674.jpg</string>
		</array>
		<key>section02</key>
		<array>
			<string>http://pic.58pic.com/58pic/17/00/14/35P58PICbNm_1024.jpg</string>
			<string>http://i1.dpfile.com/pc/fa90dce2020cf85e8ed2602cbfd220b9%28700x700%29/thumb.jpg</string>
			<string>http://i1.s1.dpfile.com/2007-01-04/92166_b.jpg%28700x700%29/thumb.jpg</string>
		</array>
		<key>section00</key>
		<array>
			<string>http://cdn.duitang.com/uploads/item/201501/15/20150115201949_Zmddu.jpeg</string>
			<string>http://cdn.duitang.com/uploads/item/201501/15/20150115201948_naBiE.jpeg</string>
			<string>http://cdn.duitang.com/uploads/item/201507/04/20150704222710_reRhM.jpeg</string>
		</array>
		<key>section01</key>
		<array>
			<string>http://i2.s1.dpfile.com/pc/4544149f94862c42847fd4510a1e956c%28700x700%29/thumb.jpg</string>
			<string>http://img.chengmi.com/cm/5088440a-a240-4deb-908a-39e8dfc6c6d5</string>
			<string>http://img5q.duitang.com/uploads/item/201507/07/20150707114354_eBKFX.jpeg</string>
		</array>
	</dict>
	<key>item1</key>
	<dict>
		<key>section13</key>
		<array>
			<string></string>
			<string></string>
			<string></string>
		</array>
		<key>section12</key>
		<array>
			<string></string>
			<string></string>
			<string></string>
		</array>
		<key>section11</key>
		<array>
			<string>http://img4.duitang.com/uploads/item/201507/12/20150712142058_ks4tL.jpeg</string>
			<string>http://img4.duitang.com/uploads/item/201502/10/20150210015538_itaWs.jpeg</string>
			<string>http://cyjctrip.qiniudn.com/1373951981/E897AFA9-7753-48A6-9EB7-C96C2A9E1AF6.jpg</string>
		</array>
		<key>section10</key>
		<array>
			<string>http://img5.duitang.com/uploads/item/201601/18/20160118175218_mxWHv.png</string>
			<string>http://cdn.duitang.com/uploads/item/201409/14/20140914190156_t2CLM.jpeg</string>
			<string>http://img5.duitang.com/uploads/item/201201/30/20120130223103_WFfmu.jpg</string>
		</array>
	</dict>
</dict>
</plist>
