<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>slideImg</key>
	<array>
		<string></string>
		<string></string>
		<string></string>
	</array>
	<key>itemData</key>
	<array>
		<dict>
			<key>row</key>
			<string>0</string>
			<key>section</key>
			<string>5</string>
		</dict>
		<dict>
			<key>row</key>
			<string>3</string>
			<key>section</key>
			<string>2</string>
		</dict>
		<dict>
			<key>row</key>
			<string>2</string>
			<key>section</key>
			<string>3</string>
		</dict>
		<dict>
			<key>row</key>
			<string>3</string>
			<key>section</key>
			<string>3</string>
		</dict>
		<dict>
			<key>row</key>
			<string>0</string>
			<key>section</key>
			<string>2</string>
		</dict>
		<dict>
			<key>row</key>
			<string>3</string>
			<key>section</key>
			<string>1</string>
		</dict>
		<dict>
			<key>row</key>
			<string>0</string>
			<key>section</key>
			<string>1</string>
		</dict>
		<dict>
			<key>row</key>
			<string>2</string>
			<key>section</key>
			<string>0</string>
		</dict>
		<dict>
			<key>row</key>
			<string>1</string>
			<key>section</key>
			<string>0</string>
		</dict>
	</array>
</dict>
</plist>
