<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ID</key>
		<string>00</string>
		<key>color</key>
		<string>9778f0</string>
		<key>tag_name</key>
		<string>三味书屋</string>
		<key>section_count</key>
		<string>16个书店</string>
		<key>body</key>
		<array>
			<dict>
				<key>section_title</key>
				<string>琳琅满目的书籍视宴</string>
				<key>imageURL</key>
				<string>http://img4.duitang.com/uploads/item/201501/15/20150115201947_NnLJj.jpeg</string>
				<key>fav_count</key>
				<string>5.0</string>
				<key>poi_name</key>
				<string>彩虹书店</string>
			</dict>
			<dict>
				<key>section_title</key>
				<string>夏日相约斑马周末市集</string>
				<key>imageURL</key>
				<string>http://img.chengmi.com/cm/5088440a-a240-4deb-908a-39e8dfc6c6d5</string>
				<key>fav_count</key>
				<string>5.0</string>
				<key>poi_name</key>
				<string>斑马书店</string>
			</dict>
			<dict>
				<key>section_title</key>
				<string>读书品书</string>
				<key>imageURL</key>
				<string>http://img4.duitang.com/uploads/item/201403/03/20140303143958_zSVAd.jpeg</string>
				<key>fav_count</key>
				<string>5.0</string>
				<key>poi_name</key>
				<string>咖啡书屋</string>
			</dict>
			<dict>
				<key>section_title</key>
				<string>静静的午后.灯火阑珊的夜晚</string>
				<key>imageURL</key>
				<string>http://tupian.aladd.net/photo5/674.jpg</string>
				<key>fav_count</key>
				<string>5.0</string>
				<key>poi_name</key>
				<string>时光书店</string>
			</dict>
			<dict>
				<key>section_title</key>
				<string>梦想一点一滴的流离</string>
				<key>imageURL</key>
				<string>http://img5.duitang.com/uploads/item/201302/05/20130205184650_sjSTE.jpeg</string>
				<key>fav_count</key>
				<string>4.8</string>
				<key>poi_name</key>
				<string>幽幽书店</string>
			</dict>
			<dict>
				<key>section_title</key>
				<string>生活，流走的是光阴，留下的是记忆</string>
				<key>imageURL</key>
				<string>http://img5.duitang.com/uploads/item/201302/05/20130205183143_4QZUK.jpeg</string>
				<key>fav_count</key>
				<string>4.8</string>
				<key>poi_name</key>
				<string>BOOKSHOP</string>
			</dict>
			<dict>
				<key>section_title</key>
				<string>开一家这样的书店 日光倾城</string>
				<key>imageURL</key>
				<string>http://cdn.duitang.com/uploads/item/201110/29/20111029130802_HSvEK.jpg</string>
				<key>fav_count</key>
				<string>4.7</string>
				<key>poi_name</key>
				<string>日光倾城</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<string>01</string>
		<key>color</key>
		<string>f391a9</string>
		<key>tag_name</key>
		<string>动漫展</string>
		<key>section_count</key>
		<string>10个国际动漫展</string>
		<key>body</key>
		<array>
			<dict>
				<key>section_title</key>
				<string>童年蜡笔小新</string>
				<key>imageURL</key>
				<string>http://file11.mafengwo.net/M00/9A/F8/wKgBtE-moVfwb3nUAAJgg80xUEM70.groupinfo.w600.jpeg</string>
				<key>fav_count</key>
				<string>5.0</string>
				<key>poi_name</key>
				<string>广州展</string>
			</dict>
			<dict>
				<key>section_title</key>
				<string>海贼王画展</string>
				<key>imageURL</key>
				<string>http://img1.ph.126.net/g-XpTDao7eiVOoRNtoDugA==/1411034058350581261.jpg</string>
				<key>fav_count</key>
				<string>5.0</string>
				<key>poi_name</key>
				<string>广州展&quot;</string>
			</dict>
			<dict>
				<key>section_title</key>
				<string>工厂小黄人</string>
				<key>imageURL</key>
				<string>http://image5.huangye88.com/2014/11/30/c080814f2eee581f.jpg</string>
				<key>fav_count</key>
				<string>5.0</string>
				<key>poi_name</key>
				<string>成都展</string>
			</dict>
			<dict>
				<key>section_title</key>
				<string>美丽可爱的萌妹纸</string>
				<key>imageURL</key>
				<string>http://imgsrc.baidu.com/forum/pic/item/a71ea8d3fd1f4134b2a1bfef251f95cad0c85e88.jpg</string>
				<key>fav_count</key>
				<string>4.8</string>
				<key>poi_name</key>
				<string>初音未来</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<string>02</string>
		<key>color</key>
		<string>36d4a2</string>
		<key>tag_name</key>
		<string>美术作品展</string>
		<key>section_count</key>
		<string>15个国际画展</string>
		<key>body</key>
		<array>
			<dict>
				<key>section_title</key>
				<string>工业时代的英国</string>
				<key>imageURL</key>
				<string>http://file21.mafengwo.net/M00/04/CD/wKgB3FCwaZuAU-xNAAfnXiIgeSg66.jpeg</string>
				<key>fav_count</key>
				<string>5.0</string>
				<key>poi_name</key>
				<string>上海展</string>
			</dict>
			<dict>
				<key>section_title</key>
				<string>小猫</string>
				<key>imageURL</key>
				<string>http://img5.duitang.com/uploads/blog/201410/09/20141009134231_QEZhd.thumb.700_0.jpeg</string>
				<key>fav_count</key>
				<string>4.8</string>
				<key>poi_name</key>
				<string>成都展</string>
			</dict>
			<dict>
				<key>section_title</key>
				<string>象与象牙</string>
				<key>imageURL</key>
				<string>http://img4.duitang.com/uploads/item/201601/12/20160112212019_veAnT.thumb.700_0.jpeg</string>
				<key>fav_count</key>
				<string>4.6</string>
				<key>poi_name</key>
				<string>上海展</string>
			</dict>
			<dict>
				<key>section_title</key>
				<string>接天莲叶无穷碧</string>
				<key>imageURL</key>
				<string>http://img5.duitang.com/uploads/item/201201/04/20120104144344_PjKi5.thumb.700_0.jpg</string>
				<key>fav_count</key>
				<string>4.6</string>
				<key>poi_name</key>
				<string>成都展</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<string>03</string>
		<key>color</key>
		<string>ef4136</string>
		<key>tag_name</key>
		<string>电影院</string>
		<key>section_count</key>
		<string>23个影片精选</string>
		<key>body</key>
		<array>
			<dict>
				<key>section_title</key>
				<string>千与千寻</string>
				<key>imageURL</key>
				<string>http://img5.duitang.com/uploads/item/201601/16/20160116232846_t4YE8.jpeg</string>
				<key>fav_count</key>
				<string>5.0</string>
				<key>poi_name</key>
				<string>天堂电影院</string>
			</dict>
			<dict>
				<key>section_title</key>
				<string>小萝莉的猴神大叔</string>
				<key>imageURL</key>
				<string>http://img4.duitang.com/uploads/item/201601/16/20160116235720_cZGFu.thumb.700_0.jpeg</string>
				<key>fav_count</key>
				<string>5.0</string>
				<key>poi_name</key>
				<string>太平洋电影院</string>
			</dict>
			<dict>
				<key>section_title</key>
				<string>鬼吹灯之寻龙诀</string>
				<key>imageURL</key>
				<string>http://img5.duitang.com/uploads/item/201601/16/20160116230802_WhmeA.thumb.700_0.jpeg</string>
				<key>fav_count</key>
				<string>5.0</string>
				<key>poi_name</key>
				<string>万达电影院</string>
			</dict>
			<dict>
				<key>section_title</key>
				<string>云中行走</string>
				<key>imageURL</key>
				<string>http://img4.duitang.com/uploads/item/201601/16/20160116151104_ySQHF.thumb.700_0.jpeg</string>
				<key>fav_count</key>
				<string>4.9</string>
				<key>poi_name</key>
				<string>火星电影院</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<string>04</string>
		<key>color</key>
		<string>7fb80e</string>
		<key>tag_name</key>
		<string>新开张美食点</string>
		<key>section_count</key>
		<string>21个新店速递</string>
		<key>body</key>
		<array>
			<dict>
				<key>section_title</key>
				<string>五道口最地道的宁夏酿皮肉夹馍</string>
				<key>imageURL</key>
				<string>http://img.chengmi.com/cm/4bf1a71a-62ba-410a-b3d0-72ef0d118dd0</string>
				<key>fav_count</key>
				<string>5.0</string>
				<key>poi_name</key>
				<string>难得馍糊</string>
			</dict>
			<dict>
				<key>section_title</key>
				<string>慢火细炖8小时的精致牛肉浓汤面</string>
				<key>imageURL</key>
				<string>http://img.chengmi.com/cm/311a5954-db7b-454a-a702-ce8b13eddd3d</string>
				<key>fav_count</key>
				<string>5.0</string>
				<key>poi_name</key>
				<string>然面</string>
			</dict>
			<dict>
				<key>section_title</key>
				<string>给你个预兆邂逅一杯好咖啡</string>
				<key>imageURL</key>
				<string>http://img.chengmi.com/cm/699f7d95-1e2d-4d82-a5ed-8b865677ff6b</string>
				<key>fav_count</key>
				<string>4.8</string>
				<key>poi_name</key>
				<string>A.omen Cafe&amp;Bar</string>
			</dict>
			<dict>
				<key>section_title</key>
				<string>慢火细炖8小时的精致牛肉浓汤面</string>
				<key>imageURL</key>
				<string>http://img.chengmi.com/cm/311a5954-db7b-454a-a702-ce8b13eddd3d</string>
				<key>fav_count</key>
				<string>4.7</string>
				<key>poi_name</key>
				<string>然面</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<string>05</string>
		<key>color</key>
		<string>fc6c54</string>
		<key>tag_name</key>
		<string>美妙下午茶</string>
		<key>section_count</key>
		<string>23个心水之选</string>
		<key>body</key>
		<array>
			<dict>
				<key>section_title</key>
				<string>复古工业风的蛋糕后花园</string>
				<key>imageURL</key>
				<string>http://img.chengmi.com/cm/f7f4db22-8d1f-46e4-8188-7c06f238ad81</string>
				<key>fav_count</key>
				<string>5.0</string>
				<key>poi_name</key>
				<string>JARDIN DES GATEAUX   蛋糕花园(工体店)</string>
			</dict>
			<dict>
				<key>section_title</key>
				<string>798露台上的摩登芝士</string>
				<key>imageURL</key>
				<string>http://img.chengmi.com/cm/3cf57ee9-8698-48c2-98fb-88cc0b8c27a0</string>
				<key>fav_count</key>
				<string>5.0</string>
				<key>poi_name</key>
				<string>摩登芝士咖啡馆</string>
			</dict>
			<dict>
				<key>section_title</key>
				<string>像王一样用餐考究的下午茶</string>
				<key>imageURL</key>
				<string>http://img.chengmi.com/cm/240857bc-cde1-485c-a808-41afaedd2ace</string>
				<key>fav_count</key>
				<string>5.0</string>
				<key>poi_name</key>
				<string>王的下午茶</string>
			</dict>
			<dict>
				<key>section_title</key>
				<string>关于爱与梦想的杯子蛋糕家</string>
				<key>imageURL</key>
				<string>http://img.chengmi.com/cm/add662ea-9d32-4723-bbf4-badb146d6cb1</string>
				<key>fav_count</key>
				<string>4.9</string>
				<key>poi_name</key>
				<string>杯子蛋糕家Cupcake Philosopher</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
