<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>section10</key>
	<dict>
		<key>place12</key>
		<dict>
			<key>movieInfo</key>
			<array>
				<dict>
					<key>imageUrl</key>
					<string>http://cdn.duitang.com/uploads/blog/201601/27/20160127061137_XPUxV.thumb.700_0.jpeg</string>
					<key>contentInfo</key>
					<string>在四面环海、风景如画的阿伦黛尔王国，生活着两位可爱美丽的小公主，艾莎和安娜。艾莎天生具有制造冰雪的能力，随着年龄的增长，她的能力越来越强，甚至险些夺走妹妹的生命。为此国王紧闭宫门，也中断了两姐妹的联系。悲哀的海难过后，艾莎（伊迪娜·门泽尔 Idina Menzel 配音 ）终于到了加冕的年龄，各国王公齐来祝贺。艾莎战战兢兢，唯恐被人识破隐藏了多年的秘密。</string>
				</dict>
				<dict>
					<key>imageUrl</key>
					<string>http://cdn.duitang.com/uploads/item/201411/30/20141130142340_a4Ekk.jpeg</string>
					<key>contentInfo</key>
					<string>然而当听说安娜（克里斯汀·贝尔 Kristen Bell 配音）将要和初次见面的南埃尔斯王子汉斯（圣蒂诺·方塔纳 Santino Fontana 配音）结婚时，依然情绪失控露出了马脚。在此之后她逃到山中，构建了属于自己的冰雪王国，而阿伦黛尔也陷入可怕的寒冷之中。</string>
				</dict>
				<dict>
					<key>imageUrl</key>
					<string>http://cdn.duitang.com/uploads/item/201402/28/20140228200122_EPkrJ.jpeg</string>
					<key>contentInfo</key>
					<string>安娜独自来到山中，在山民克斯托夫（乔纳森·格罗夫 Jonathan Groff 配音）的帮助下总算来到姐姐的宫殿，她能否让国家重新找回失落的绿意？</string>
				</dict>
			</array>
			<key>movieGlideImg</key>
			<array>
				<string>http://cdn.duitang.com/uploads/item/201501/21/20150121174117_Bshkc.jpeg</string>
				<string>http://img4.duitang.com/uploads/item/201403/21/20140321184642_dRikr.jpeg</string>
				<string>http://cdn.duitang.com/uploads/blog/201406/19/20140619121415_k5eAA.thumb.700_0.jpeg</string>
			</array>
		</dict>
		<key>place11</key>
		<dict>
			<key>movieInfo</key>
			<array>
				<dict>
					<key>imageUrl</key>
					<string>http://cdn.duitang.com/uploads/item/201512/20/20151220211705_kU2fT.png</string>
					<key>contentInfo</key>
					<string>《萤火之森》某年夏天，6岁小女孩竹川萤来到爷爷家度假，她闯进了传说住满妖怪的山神森林。正当她因为迷路而焦急万分的时候，一个戴着狐狸面具的大男孩出现在她面前，并引领着萤找到回家的路。虽然萤分外感激，可是男孩却禁止她碰触自己的身体，原来这名叫银的男孩并非人类，他一旦被人类碰触就会烟消云散。在此后的日子里，萤和银成为好朋友，他们走遍了森林的每一个角落玩耍。日复一日，年复一年，每到夏天的时候萤就会如约来到森林和好朋友见面。她遵守着和银的约定，无论如何也不碰触银的身体。随着年龄的增长，萤和银对彼此的情感都悄悄发生了变化，他们共同期待相聚的日子，共同期待拥抱对方……</string>
				</dict>
				<dict>
					<key>imageUrl</key>
					<string>http://cdn.duitang.com/uploads/item/201411/02/20141102171254_aatse.jpeg</string>
					<key>contentInfo</key>
					<string>《萤火之森》 隔天，再隔天，我都去了森林，在山间奔跑嬉戏的夏日。 尽管都是些琐碎的小事，也玩的无比快乐。</string>
				</dict>
			</array>
			<key>movieGlideImg</key>
			<array>
				<string>http://img5.duitang.com/uploads/blog/201310/13/20131013225850_iWwnt.thumb.700_0.jpeg</string>
				<string>http://cdn.duitang.com/uploads/item/201503/04/20150304145344_NcRyh.jpeg</string>
				<string>http://img5.duitang.com/uploads/item/201303/08/20130308195343_dkyfH.jpeg</string>
			</array>
		</dict>
		<key>place10</key>
		<dict>
			<key>movieInfo</key>
			<array>
				<dict>
					<key>imageUrl</key>
					<string>http://cdn.duitang.com/uploads/item/201502/25/20150225190005_mYWPm.jpeg</string>
					<key>contentInfo</key>
					<string> 这写到了有关鱼类的恐怖电影，就不得不提到这部里程碑级别的恐怖电影，通过这部电影让鲨鱼这种天生的杀手，在大部分观众的心目中留下了难以磨灭的印记，把对鲨鱼的恐惧提升到了一个全新的高度。</string>
				</dict>
				<dict>
					<key>imageUrl</key>
					<string>http://img4.duitang.com/uploads/item/201510/10/20151010113959_Yvr2m.jpeg</string>
					<key>contentInfo</key>
					<string>片中那神出鬼没的大白鲨，在海洋中的绝对统治级别的力量，人类在面对这种强有力的生物时的那种无力感，还有就是大白鲨那种瞬间吞噬人命的震撼和血腥场面，那真是看者动容。实在是太生猛了。</string>
				</dict>
			</array>
			<key>movieGlideImg</key>
			<array>
				<string>http://img5.duitang.com/uploads/item/201206/18/20120618094845_UdmTt.thumb.700_0.jpeg</string>
				<string>http://cdn.duitang.com/uploads/item/201206/18/20120618094830_TW2vA.thumb.700_0.jpeg</string>
				<string>http://img4.duitang.com/uploads/item/201411/05/20141105224327_K8XNv.thumb.700_0.jpeg</string>
			</array>
		</dict>
		<key>place09</key>
		<dict>
			<key>movieInfo</key>
			<array>
				<dict>
					<key>imageUrl</key>
					<string>http://cdn.duitang.com/uploads/item/201502/22/20150222141418_P8HP5.jpeg</string>
					<key>contentInfo</key>
					<string>时间带着鲜明的恶意，从我身上慢慢流走；我深知，这以后的将来，我们不可能一起走过。 
对于命途多舛的人生，以及渺茫的时间，阻挡在我们之间这一事实，我们无可奈何。</string>
				</dict>
				<dict>
					<key>imageUrl</key>
					<string>http://cdn.duitang.com/uploads/blog/201406/26/20140626162301_ckChK.thumb.700_0.jpeg</string>
					<key>contentInfo</key>
					<string>我们虽然没有在写给对方的信中发泄对这些日常生活的不满与牢骚，但是知道在这个世界之中有另外一个人能够理解自己，使我们都变得坚强起来。</string>
				</dict>
				<dict>
					<key>imageUrl</key>
					<string>http://img5.duitang.com/uploads/item/201310/14/20131014225734_K2dhw.jpeg</string>
					<key>contentInfo</key>
					<string>　　我没有跟明里说 
　　把写给她的信弄丢了的事 
　　总觉得那个吻之后 万物都焕然一新 
　　我真心希望能获得守护她的力量 
　　怀着这份心意 
　　我一直静静地凝视着窗外的风景</string>
				</dict>
			</array>
			<key>movieGlideImg</key>
			<array>
				<string>http://img5.duitang.com/uploads/item/201512/10/20151210233211_JFhrB.jpeg</string>
				<string>http://cdn.duitang.com/uploads/item/201412/06/20141206134723_5tjJF.jpeg</string>
				<string>http://img5.duitang.com/uploads/item/201601/01/20160101153727_uFtwX.jpeg</string>
			</array>
		</dict>
		<key>place08</key>
		<dict>
			<key>movieInfo</key>
			<array>
				<dict>
					<key>imageUrl</key>
					<string>http://cdn.duitang.com/uploads/blog/201601/26/20160126134358_j5Ez2.thumb.700_0.jpeg</string>
					<key>contentInfo</key>
					<string>什么时候我们开始无法像孩子一样肆意地大呼小叫了？心里的小情绪堆积得像山一样高，直到溢出来。与其如此，不如永远像孩子一样。

如果把童年再放映一遍，我们一定会先大笑，然后放声痛哭，最后挂着泪，微笑着睡去。</string>
				</dict>
				<dict>
					<key>imageUrl</key>
					<string>http://img4.duitang.com/uploads/item/201601/16/20160116163223_LuSRX.jpeg</string>
					<key>contentInfo</key>
					<string>生活坏到一定程度就会好起来，因为它无法更坏。努力过后，才知道许多事情，坚持坚持，就过来了。
                        
认清这个世界，然后爱它。就这么一辈子，下一世你可能就不在这个世界了。有些烦恼，丢掉了，才有风轻云淡的机会。</string>
				</dict>
				<dict>
					<key>imageUrl</key>
					<string>http://cdn.duitang.com/uploads/item/201507/26/20150726135405_x2aMe.jpeg</string>
					<key>contentInfo</key>
					<string>当一个胖纸没有什么不好，最起码可以温暖其他的人。
                        
也许生存在世间的人们都只是在等待一种偶遇，一种适时的相遇，时间对了，你们便会遇上。</string>
				</dict>
			</array>
			<key>movieGlideImg</key>
			<array>
				<string>http://img5.duitang.com/uploads/item/201402/07/20140207210247_XKy3m.jpeg</string>
				<string>http://cdn.duitang.com/uploads/item/201411/15/20141115114925_HEaBk.png</string>
				<string>http://img5.duitang.com/uploads/item/201411/15/20141115115010_PhYYt.jpeg</string>
			</array>
		</dict>
		<key>place07</key>
		<dict>
			<key>movieInfo</key>
			<array>
				<dict>
					<key>imageUrl</key>
					<string>http://cdn.duitang.com/uploads/item/201411/15/20141115083451_EuRhe.jpeg</string>
					<key>contentInfo</key>
					<string>每个人心中都住着一个孩子，每个女孩子心里都有一座城堡。——哈尔的移动城堡 。</string>
				</dict>
				<dict>
					<key>imageUrl</key>
					<string>http://cdn.duitang.com/uploads/blog/201403/05/20140305235645_CiYJr.thumb.700_0.jpeg</string>
					<key>contentInfo</key>
					<string>离去，让事情变得简单，人们变得善良，像个孩子一样，我们重新开始。 
世界这么大，人生这么长，总会有这么一个人，让你想要温柔的对待</string>
				</dict>
			</array>
			<key>movieGlideImg</key>
			<array>
				<string>http://cdn.duitang.com/uploads/item/201411/15/20141115083703_4MB8R.jpeg</string>
				<string>http://img4.duitang.com/uploads/blog/201505/17/20150517175905_G2ykJ.thumb.700_0.jpeg</string>
				<string>http://img5.duitang.com/uploads/item/201304/29/20130429115827_tkBLi.thumb.700_0.jpeg</string>
			</array>
		</dict>
		<key>place06</key>
		<dict>
			<key>movieInfo</key>
			<array>
				<dict>
					<key>imageUrl</key>
					<string>http://img5.duitang.com/uploads/item/201406/15/20140615181619_ejVrf.jpeg</string>
					<key>contentInfo</key>
					<string>We laughed and kept saying &quot;See you soon&quot;. But inside we both knew we&apos;d never see each other again.
虽然我们互相笑着说“回头见”，但是我们都心知肚明，分离即永别。

陆上的人喜欢寻根问底，虚度了大好光阴。冬天忧虑夏天的姗姗来迟，夏天则担心冬天的将至。所以他们不停四处游走，追求一个遥不可及、四季如夏的地方—我并不羡慕。
Why why why why why... I think land people waste a lot of time wondering why. Winter comes they can&apos;t wait for summer; summer comes they&apos;re living dread of winter. That&apos;s why
                    </string>
				</dict>
				<dict>
					<key>imageUrl</key>
					<string>http://cdn.duitang.com/uploads/item/201411/05/20141105112703_2KhdG.jpeg</string>
					<key>contentInfo</key>
					<string>陆地？陆地对我来说是一艘太大的船，一个太漂亮的女人，一段太长的旅行，一瓶太刺鼻的香水，一种我不会创作的音乐。 
Land? Land is a ship too big for me. It&apos;s a woman too beautiful; it&apos;s a voyage too long, a perfume too strong. It&apos;s a music I don&apos;t know how to make.

阻止了我的脚步的，并不是我所看见的东西，而是我所无法看见的那些东西。你明白么？我看不见的那些。在那个无限蔓延的城市里，什么东西都有，可惟独没有尽头。
It wasn&apos;t what I saw that stopped me, Max. It was what I didn&apos;t see. You understand that? What I didn&apos;t see. In all that sprawling city there was everything except an end.</string>
				</dict>
			</array>
			<key>movieGlideImg</key>
			<array>
				<string>http://cdn.duitang.com/uploads/item/201406/26/20140626093008_yhJGE.jpeg</string>
				<string>http://cdn.duitang.com/uploads/item/201504/15/20150415H2441_E5tsj.jpeg</string>
				<string>http://img5.duitang.com/uploads/item/201503/15/20150315171831_Q3tzG.png</string>
			</array>
		</dict>
		<key>place05</key>
		<dict>
			<key>movieInfo</key>
			<array>
				<dict>
					<key>imageUrl</key>
					<string>http://img4.duitang.com/uploads/item/201206/14/20120614101552_h35AR.thumb.700_0.jpeg</string>
					<key>contentInfo</key>
					<string>很久没有在电影院里流泪的感觉。记不清哪位大师曾说：“悲剧，就是把你认为最美好的事物，毁灭给你看”。而在这部影片中，人类正是罪魁祸首。
 雅克把这世界上最美的、最有力量的，也是最神秘的世界呈现给我们，让我们从鲸鱼每一次拍尾，海豚每一次腾跃，海鸥每一次俯冲中，体会到海洋的欢悦与生命蕴藏的无穷力量。当你看到幼鲸依偎着母鲸在水下徜徉，海象怀抱着幼崽直立在北极冰海的余晖中，你不得不为荧幕前这种美好与和谐而感动。尽管海洋中充斥着厮杀与肉搏，尽管你也会为杀人鲸撕咬海豹的残酷与海豹逃避大白鲨追捕时的惊心动魄而窒息，但所有的这一切，都无法与人类——这种起初也只是自然界普通一员，而今高高站在生物链最顶端的傲慢猎食者的冷酷与残忍相提并论。动物界因需求而展开的生死搏杀，远不及人类为了欲望而无节制的杀戮。当影片开始时那些鲜活的生命，僵死在渔网上时；当鲨鱼割掉了胸鳍尾鳍，被抛下渔船，径直沉下海底时；当捕鲸船的飞枪射穿鲸鱼，引发出巨大悲鸣时；当海豚在鱼叉的追逐下，晃动了最后一下身体时，生命面对人类的冷漠只残存下无助的等待，等待死亡，等待毁灭。</string>
				</dict>
				<dict>
					<key>imageUrl</key>
					<string>http://cdn.duitang.com/uploads/item/201206/13/20120613182709_ejAr3.thumb.700_0.jpeg</string>
					<key>contentInfo</key>
					<string>影片的最后，潜水员与海洋动物亲近、嬉戏时，它们流露出友善而陌生的神情 ，友善源于人类同它们一样，只是这自然的普通一员；陌生，因为我们以一个全新物种的身份闯入了它们熟知的领域。最后，当潜水员与一头大白鲨并肩游弋时——和谐——成为了这部悲剧留给人的唯一一点希望与余温。
  作为可以去了解宇宙的智慧生命，人类还没有学会去尊重这个地球上的每一个生命，更没有学会与它们分享那一份共同的爱与温暖。
之所以说只有法国人才能搞出来这种影片，可能因为他们对音乐、对自然、对人性，以及对戏剧冲突的理解，虽然是纪录片，却有着艺术品耐人寻味的丰富与复杂。总之，是精品！绝对值得到音响和画质好得大影院观看！</string>
				</dict>
			</array>
			<key>movieGlideImg</key>
			<array>
				<string>http://cdn.duitang.com/uploads/blog/201511/25/20151125091428_aMCyH.thumb.700_0.jpeg</string>
				<string>http://img4.duitang.com/uploads/item/201512/28/20151228220343_5ZHx2.jpeg</string>
				<string>http://img5.duitang.com/uploads/item/201601/11/20160111222824_HkStL.jpeg</string>
			</array>
		</dict>
		<key>place04</key>
		<dict>
			<key>movieInfo</key>
			<array>
				<dict>
					<key>imageUrl</key>
					<string>http://img4.duitang.com/uploads/item/201410/24/20141024181605_LfXUS.jpeg</string>
					<key>contentInfo</key>
					<string>少年斯派维的奇异旅行》 让热内把各种想法和暗示融入天马行空的故事情节，完成了一部精致生动的电影。天才总会在少年时期就感受到孤独。他们放弃那些无谓的嬉戏，用最敏感的少年神经全身心感受和学习世界。这令他们不合群，也令他们忧愁。</string>
				</dict>
				<dict>
					<key>imageUrl</key>
					<string>http://img4.duitang.com/uploads/blog/201412/21/20141221092548_w4ZK5.thumb.700_0.jpeg</string>
					<key>contentInfo</key>
					<string>水滴的特别之处在于，它们总能找到阻力最小的道路，对人类而言，情况刚刚相反。</string>
				</dict>
			</array>
			<key>movieGlideImg</key>
			<array>
				<string>http://cdn.duitang.com/uploads/item/201505/08/20150508174138_BEVwW.jpeg</string>
				<string>http://img4.duitang.com/uploads/item/201502/17/20150217161202_W5v35.png</string>
				<string>http://img4.duitang.com/uploads/item/201507/29/20150729145247_keEZ3.jpeg</string>
			</array>
		</dict>
		<key>place03</key>
		<dict>
			<key>movieInfo</key>
			<array>
				<dict>
					<key>imageUrl</key>
					<string>http://cdn.duitang.com/uploads/item/201503/27/20150327131520_xYxX3.jpeg</string>
					<key>contentInfo</key>
					<string>《海洋之歌》或许是一个寻找与回归的故事，而我想，这也是一个关于逃避与面对的寓言。

失去妻子的父亲一蹶不振，忽视孩子，隐藏情感。
失去母亲的儿子，将怨恨发泄在无辜的妹妹身上，即使他曾经承诺要做最好的哥哥。
从出生就离开母亲的女儿，无法发出声音。

传说中的巨人因失去而日日痛哭，泪水汇聚成海洋，巫婆母亲为缓解儿子的伤痛，将其感情放人瓶中封印，失去感情的儿子化为岩石，得到永恒的平静。
此后，这成为巫婆的使命，将别人的感情取走，放入瓶中。

【I take away the pain, 我替别人化解他们的痛苦
It doesn’t hurt, it will never hurt again. 这不会伤害你，而且一劳永逸】

瓶中封印的情感，有雷电，有云朵，有雨雪，有彩虹，有太阳。它们是那些我们避之不及的软肋，那些潸然泪下的温情。失去这一切，于是就变成了石头。

为了儿子不再痛苦而将儿子化为石头的母亲，同时也被无法承受的失子之痛折磨。
巫婆有一半身体已经成为了石头，因为每一次感到情感的流动，巫婆也需要用魔瓶来吸走那些痛苦的感情。

【Now see what I’ve become of those terrible feelings. 我之所以变成这样就是因为这些该死的感觉
I’m sick of feelings that come bubbling up. 我讨厌那汨汨涌现的种种感觉】</string>
				</dict>
				<dict>
					<key>imageUrl</key>
					<string>http://cdn.duitang.com/uploads/item/201506/08/20150608144839_jZ2dy.jpeg</string>
					<key>contentInfo</key>
					<string>如同饮鸩止渴一般。

故事中的每一个，都是被痛苦击碎的人。
每一个被击中软肋的人，都挣扎在逃避和面对之间。

没有了感情，麻木，才会得到永远的平静。
然而，失去感情的麻木，不过也就变成了石头而已。
就像被巫婆取走感情的精灵，化为石头。

小海豹女的海螺声使瓶子破碎，于是每一丝清风，每一朵白云，每一次雨雪或雷电，每一个太阳及彩虹，通通融入身体里。
于是有了情绪，有了痛苦，也有了感知美好的能力。

有人说，爱就是突然有了软肋，同时又有了盔甲。

于是我们才成为了完整的人。


精灵得以回归，这也意味着，两个孩子的母亲也必须离开。
小海豹女选择留下，母亲要带走她的外套，从此两边的世界切断联系。
童话和现实世界的联系。

伤心的儿子祈求母亲不要离开。
母亲对他说：

【My son, 我的儿子
Remember me, in your stories, and in your songs. 我在你的故事里和你的歌声里长存
Know that I will always love you. 要记得我一直非常爱你
Always. 我会永远爱你】

母亲离开了。
父亲从失去的阴影中走出来，哥哥从失去中释怀，妹妹从失去中解脱。

要跨过去，才能继续走。

如果有一天，我能平静的回忆起你的死亡，不是因为我不再爱你，而是因为我们已经融为一体，我的呼吸就是你的呼吸。
从此，我永远与你相伴，不再分离。</string>
				</dict>
			</array>
			<key>movieGlideImg</key>
			<array>
				<string>http://img5.duitang.com/uploads/item/201504/11/20150411H3500_BcmC2.jpeg</string>
				<string>http://img4.duitang.com/uploads/item/201504/26/201504263723_BLusE.jpeg</string>
				<string>http://img5.duitang.com/uploads/item/201504/17/20150417H0007_HUAkf.jpeg</string>
			</array>
		</dict>
		<key>place02</key>
		<dict>
			<key>movieInfo</key>
			<array>
				<dict>
					<key>imageUrl</key>
					<string>http://cdn.duitang.com/uploads/blog/201412/12/20141212230802_zHuNu.thumb.700_0.jpeg</string>
					<key>contentInfo</key>
					<string>一只早熟的喜欢吃柠檬酱的小熊从暗无天日的秘鲁抵达伦敦，遇到了一个人类家庭并与他们朝夕相处。 但是，只有米莉森特除外，她是一个恶毒的博物馆长，一心只想着把这个可爱的小家伙制成标本关进她的博物馆里。 这是一部真人动画结合电影，根据英国作家迈克尔•邦德1958的畅销儿童文学【帕丁顿熊】中的小熊形象改编而成。 而事实上目前可爱帕丁顿熊已成了濒危动物。 【帕丁顿熊】用冒险精神，书写着一个局外人在人类世界找到自己位置的故事。同时也不忘趣味，就像【憨豆先生】一样，帕丁顿小熊为整个家庭带来了许多喜悦和温情。</string>
				</dict>
				<dict>
					<key>imageUrl</key>
					<string>http://img5.duitang.com/uploads/item/201503/27/20150327131459_WZrSR.jpeg</string>
					<key>contentInfo</key>
					<string>每个小熊都需要一个家，而每个家也都需要一只小熊。圣诞节的气氛是爱和温暖，这是一个家所能提供的最宝贵的东西，一只闯入生活的小熊，让一个家庭和小熊自己都重新发现了爱，在这里，这只可爱的小熊成了爱的象征品。</string>
				</dict>
			</array>
			<key>movieGlideImg</key>
			<array>
				<string>http://cdn.duitang.com/uploads/item/201511/16/20151116171756_WTBFt.jpeg</string>
				<string>http://img4.duitang.com/uploads/item/201508/12/20150812231348_43nvM.jpeg</string>
				<string>http://img5.duitang.com/uploads/item/201503/07/20150307104947_ydWnN.jpeg</string>
			</array>
		</dict>
		<key>place01</key>
		<dict>
			<key>movieInfo</key>
			<array>
				<dict>
					<key>imageUrl</key>
					<string>http://img5.duitang.com/uploads/item/201507/27/20150727135606_5rx3P.jpeg</string>
					<key>contentInfo</key>
					<string>冰蓝深海，猴子沉入水底。无能为力，大圣落魄，剥除齐天之名，只是区区一介石头蹦出的普通猴子罢了。而眼前浮现那颗毛茸茸的圆光头，乌溜溜的黑瞳仁，清脆地喊他一声，“大圣”。

他伸出手，穿过冰冷的水，握住了那只残破的布偶。即使他的力量他的威风他的神通还压在那逃不出的五指山下，只要他能做那长安城中挂单一名小和尚的齐天大圣，足矣。

这个瞬间，在我看来，才是孙猴子真正挣破封印的一刻，不管比起之前挣破山石禁闭也好，挣脱腕间冰凉精铁的佛印封锁也罢。这一刻，孙猴子才真正打从心底重抖擞，我是真正的大圣，只要你需要，只要我可以。</string>
				</dict>
				<dict>
					<key>imageUrl</key>
					<string>http://img4.duitang.com/uploads/item/201508/03/20150803233425_wCdVT.jpeg</string>
					<key>contentInfo</key>
					<string>孙悟空之所以一直充满魅力，正在于他的复合型“人格”。正如电影海报里的“一念成魔，一念成佛”，这不可控的身躯里，存在着魔的杀性，佛的智慧，也有人的温情。但在大闹天宫以前，桀骜不驯的猴子是顽石里日月山川孕育的一缕精魂，空有比天高的傲性和血性，却无人教晓他忍之从之敬畏之。所以他也只能如楞头青一般被满天神佛忌讳之压制之，最终真相大白下才有了毁天灭地不惧只求焚天大闹一场。

也只有寂寞山中漫长五百年的禁锢，或许才给了他消停的时间，去怀疑，去思考，去发掘，除了翻天覆地之外该有其他什么。而光头小江流儿正是应了这个机缘。或许，这如父如子，也是一种命中注定。</string>
				</dict>
				<dict>
					<key>imageUrl</key>
					<string>http://cdn.duitang.com/uploads/item/201601/02/20160102010257_WjRxN.jpeg</string>
					<key>contentInfo</key>
					<string>沉入深海里深深的蓝有多么彻骨的冰凉，那一刻，那一只小小的手就有多么的温暖。</string>
				</dict>
			</array>
			<key>movieGlideImg</key>
			<array>
				<string>http://img4.duitang.com/uploads/blog/201507/18/20150718203313_a2EeZ.thumb.700_0.jpeg</string>
				<string>http://img4.duitang.com/uploads/item/201507/24/20150724232155_H3GmC.thumb.700_0.jpeg</string>
				<string>http://cdn.duitang.com/uploads/item/201507/23/20150723102018_TnwSv.jpeg</string>
				<string>http://ent.cnr.cn/list/20160104/W020160104266703845490.jpg</string>
			</array>
		</dict>
	</dict>
	<key>section01</key>
	<string></string>
	<key>section02</key>
	<string></string>
</dict>
</plist>
