<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>row1</key>
	<dict>
		<key>slideImages</key>
		<array>
			<string>http://www.beirutnightlife.com/wp-content/uploads/2009/10/bmw_gt_m1_2.jpg</string>
			<string>http://cdn.duitang.com/uploads/item/201304/15/20130415102353_GmsCm.jpeg</string>
			<string>http://img5.duitang.com/uploads/item/201106/16/20110616153116_eUWPh.jpg</string>
		</array>
	</dict>
	<key>row2</key>
	<dict>
		<key>slideImages</key>
		<array>
			<string>http://cdn.duitang.com/uploads/blog/201502/10/20150210110648_kxSrZ.thumb.700_0.jpeg</string>
			<string>http://cdn.duitang.com/uploads/item/201409/25/20140925180914_wPzV8.thumb.700_0.jpeg</string>
			<string>http://img4.duitang.com/uploads/item/201405/24/20140524113657_VQkQt.jpeg</string>
		</array>
	</dict>
	<key>row3</key>
	<dict>
		<key>slideImages</key>
		<array>
			<string>http://cdn.duitang.com/uploads/item/201207/10/20120710205045_N5caC.thumb.700_0.jpeg</string>
			<string>http://img5.duitang.com/uploads/item/201103/02/20110302184534_GQYrJ.jpg</string>
			<string>http://cdn.duitang.com/uploads/item/201302/18/20130218165402_BMaLP.thumb.700_0.jpeg</string>
		</array>
	</dict>
	<key>row4</key>
	<dict>
		<key>slideImages</key>
		<array>
			<string>http://cdn.duitang.com/uploads/item/201602/25/20160225225011_nF8uR.jpeg</string>
			<string>http://img4.duitang.com/uploads/item/201412/01/20141201164846_4TZLJ.jpeg</string>
			<string>http://img5.duitang.com/uploads/item/201503/09/20150309161853_ZcuQs.jpeg</string>
		</array>
	</dict>
	<key>row5</key>
	<dict>
		<key>slideImages</key>
		<array>
			<string>http://img4.duitang.com/uploads/item/201204/18/20120418232739_HMfmG.jpeg</string>
			<string>http://img4.duitang.com/uploads/item/201505/19/20150519120427_HLZAa.jpeg</string>
			<string>http://img4.duitang.com/uploads/item/201602/17/20160217214702_AZ2ve.jpeg</string>
		</array>
	</dict>
	<key>row6</key>
	<dict>
		<key>slideImages</key>
		<array>
			<string>http://img5.duitang.com/uploads/blog/201510/15/20151015123607_MP548.thumb.700_0.jpeg</string>
			<string>http://cdn.duitang.com/uploads/item/201602/08/20160208222922_HZ4Nf.jpeg</string>
			<string>http://img5.duitang.com/uploads/item/201106/16/20110616153116_eUWPh.jpg</string>
		</array>
	</dict>
	<key>row7</key>
	<dict>
		<key>slideImages</key>
		<array>
			<string>http://img2.imgtn.bdimg.com/it/u=1688761250,480246036&amp;fm=21&amp;gp=0.jpg</string>
			<string>http://cdn.duitang.com/uploads/item/201304/15/20130415102353_GmsCm.jpeg</string>
			<string>http://img5.duitang.com/uploads/item/201106/16/20110616153116_eUWPh.jpg</string>
		</array>
	</dict>
	<key>row8</key>
	<dict>
		<key>slideImages</key>
		<array>
			<string>http://photo.weibo.com/1768978860/wbphotos/large/mid/3699866246782751/pid/697079acgw1efgzbjl6spj20kk0hggnp</string>
			<string>http://img5.duitang.com/uploads/blog/201509/02/20150902124315_QsctL.thumb.700_0.jpeg</string>
			<string>http://img5.duitang.com/uploads/blog/201509/02/20150902124320_HWXTP.thumb.700_0.jpeg</string>
		</array>
	</dict>
	<key>row9</key>
	<dict>
		<key>slideImages</key>
		<array>
			<string>http://img4.duitang.com/uploads/blog/201508/08/20150808093524_TFzmX.thumb.700_0.jpeg</string>
			<string>http://img5.duitang.com/uploads/item/201111/17/20111117144044_MWiaJ.thumb.700_0.jpg</string>
			<string>http://img4.duitang.com/uploads/item/201409/12/20140912211133_Ram5c.jpeg</string>
		</array>
	</dict>
	<key>row10</key>
	<dict>
		<key>slideImages</key>
		<array>
			<string>http://img5.duitang.com/uploads/blog/201401/19/20140119151032_8uTLV.thumb.700_0.jpeg</string>
			<string>http://img4.duitang.com/uploads/blog/201603/01/20160301154614_seEf4.thumb.700_0.jpeg</string>
			<string>http://img4.duitang.com/uploads/item/201204/17/20120417082134_RzHkY.thumb.700_0.jpeg</string>
		</array>
	</dict>
	<key>row11</key>
	<dict>
		<key>slideImages</key>
		<array>
			<string>http://www.beirutnightlife.com/wp-content/uploads/2009/10/bmw_gt_m1_2.jpg</string>
			<string>http://cdn.duitang.com/uploads/item/201304/15/20130415102353_GmsCm.jpeg</string>
			<string>http://img5.duitang.com/uploads/item/201106/16/20110616153116_eUWPh.jpg</string>
		</array>
	</dict>
	<key>row12</key>
	<dict>
		<key>slideImages</key>
		<array>
			<string>http://www.beirutnightlife.com/wp-content/uploads/2009/10/bmw_gt_m1_2.jpg</string>
			<string>http://cdn.duitang.com/uploads/item/201304/15/20130415102353_GmsCm.jpeg</string>
			<string>http://img5.duitang.com/uploads/item/201106/16/20110616153116_eUWPh.jpg</string>
		</array>
	</dict>
</dict>
</plist>
