<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cellInfo</key>
		<dict>
			<key>titleName</key>
			<string>四川水煮鱼</string>
			<key>numberId</key>
			<string>00</string>
			<key>imageURL</key>
			<string>http://img4.duitang.com/uploads/item/201508/30/20150830101356_UvHcF.jpeg</string>
			<key>detailName</key>
			<string>中式菜肴</string>
		</dict>
		<key>detailCell</key>
		<dict>
			<key>doWays</key>
			<array>
				<dict>
					<key>time</key>
					<string>准备工作</string>
					<key>howDo</key>
					<string>1.鱼头剁下，从背部剖开成两半，将鱼清洗干净。将鱼身平放在案板上，用锋利的刀将鱼肉和腹部的骨刺分开，然后将两大片的鱼肉片成5厘米左右的鱼片，将鱼主刺切成均匀的段备用。
蒜瓣切除根部剥去外衣拍散，生姜刮皮洗净后切片备用。
榨菜洗净后，切成丝备用。</string>
				</dict>
				<dict>
					<key>time</key>
					<string>30分钟</string>
					<key>howDo</key>
					<string>2.将鱼片放在一个大碗中，放一个蛋清，加入少量的盐，料酒和干淀粉，伴均匀后，腌制半小时左右。</string>
				</dict>
				<dict>
					<key>time</key>
					<string>3分钟</string>
					<key>howDo</key>
					<string>3.绿豆芽摘除根部，洗净，用沸水汆3分钟。</string>
				</dict>
				<dict>
					<key>time</key>
					<string>慢火</string>
					<key>howDo</key>
					<string>4.锅加热后倒入油，油微微冒烟时，先放花椒，然后放入干辣椒，改慢火炸。放入拍好的蒜瓣和姜片，出香味后，将鱼骨放入锅中</string>
				</dict>
				<dict>
					<key>time</key>
					<string>鱼骨汤沸腾</string>
					<key>howDo</key>
					<string>5.翻炒几下后，放入料酒、盐和沸水，待鱼骨汤沸腾后，将鱼片一片一片平放到汤中。鱼片会熟的很快，出锅前放入蔬菜</string>
				</dict>
			</array>
			<key>ingredients</key>
			<array>
				<dict>
					<key>howMuch</key>
					<string>一条</string>
					<key>whatFood</key>
					<string>草鱼</string>
				</dict>
				<dict>
					<key>howMuch</key>
					<string>2个</string>
					<key>whatFood</key>
					<string>鸡蛋清</string>
				</dict>
				<dict>
					<key>howMuch</key>
					<string>少许</string>
					<key>whatFood</key>
					<string>盐，料酒，干淀粉，生姜</string>
				</dict>
				<dict>
					<key>howMuch</key>
					<string>3两</string>
					<key>whatFood</key>
					<string>绿豆芽，榨菜</string>
				</dict>
				<dict>
					<key>howMuch</key>
					<string>10个</string>
					<key>whatFood</key>
					<string>干辣椒</string>
				</dict>
			</array>
		</dict>
	</dict>
	<dict>
		<key>cellInfo</key>
		<dict>
			<key>titleName</key>
			<string>柠檬蒸鲈鱼</string>
			<key>numberId</key>
			<string>01</string>
			<key>imageURL</key>
			<string>http://img4.duitang.com/uploads/blog/201405/08/20140508131732_ew8cc.thumb.700_0.jpeg</string>
			<key>detailName</key>
			<string>中式菜肴</string>
		</dict>
		<key>detailCell</key>
		<dict>
			<key>doWays</key>
			<array>
				<dict>
					<key>time</key>
					<string>准备工作</string>
					<key>howDo</key>
					<string>1.将鲈鱼整理后清洗干净，在鱼身的两侧等距离划几刀；从鱼腹部至尾部剖开，用盐在鱼的周身淡淡地抹一遍，然后将鱼直身放在鱼盘中。
柠檬洗净，顶部切下一片塞在鱼嘴里，然后握住柠檬，将汁水挤出淋在鱼身上；另外半个柠檬切成片备用
把蒜瓣剁成蓉，加入剁椒、鱼露和糖调成汁均匀铺在鱼身上</string>
				</dict>
				<dict>
					<key>time</key>
					<string>8分钟</string>
					<key>howDo</key>
					<string>2.锅中水烧开，放入鲈鱼蒸8分钟，出锅后撒上葱花，淋上热油，用柠檬片装饰即成。</string>
				</dict>
			</array>
			<key>ingredients</key>
			<array>
				<dict>
					<key>howMuch</key>
					<string>1条</string>
					<key>whatFood</key>
					<string>鲈鱼</string>
				</dict>
				<dict>
					<key>howMuch</key>
					<string>1.5个</string>
					<key>whatFood</key>
					<string>柠檬</string>
				</dict>
				<dict>
					<key>howMuch</key>
					<string>2勺</string>
					<key>whatFood</key>
					<string>剁椒</string>
				</dict>
				<dict>
					<key>howMuch</key>
					<string>2个</string>
					<key>whatFood</key>
					<string>蒜瓣</string>
				</dict>
				<dict>
					<key>howMuch</key>
					<string>适量</string>
					<key>whatFood</key>
					<string>小葱</string>
				</dict>
				<dict>
					<key>howMuch</key>
					<string>2勺</string>
					<key>whatFood</key>
					<string>鱼露</string>
				</dict>
				<dict>
					<key>howMuch</key>
					<string>1小勺</string>
					<key>whatFood</key>
					<string>糖</string>
				</dict>
				<dict>
					<key>howMuch</key>
					<string>1克</string>
					<key>whatFood</key>
					<string>盐</string>
				</dict>
			</array>
		</dict>
	</dict>
	<dict>
		<key>cellInfo</key>
		<dict>
			<key>titleName</key>
			<string>意大利肉酱面</string>
			<key>numberId</key>
			<string>02</string>
			<key>imageURL</key>
			<string>http://cdn.duitang.com/uploads/item/201404/20/20140420230254_hWySW.jpeg</string>
			<key>detailName</key>
			<string>意式面条</string>
		</dict>
		<key>detailCell</key>
		<dict>
			<key>doWays</key>
			<array>
				<dict>
					<key>time</key>
					<string>准备工作</string>
					<key>howDo</key>
					<string>1.牛肉切碎，大蒜、洋葱、胡萝卜全部切成碎粒，西红柿切丁</string>
				</dict>
				<dict>
					<key>time</key>
					<string>小火</string>
					<key>howDo</key>
					<string>2.热锅用小火融化黄油。然后放入蒜粒、洋葱炒出香味，并且颜色变为金黄。</string>
				</dict>
				<dict>
					<key>time</key>
					<string>半生</string>
					<key>howDo</key>
					<string>3.倒入牛肉末炒至半生。倒入胡萝卜粒、西红柿丁一起翻炒数下。加入番茄酱。翻炒均匀。加入干罗勒碎、黑胡椒、盐、味精。</string>
				</dict>
				<dict>
					<key>time</key>
					<string>7-8分</string>
					<key>howDo</key>
					<string>4.用小火慢慢熬成香浓的蕃茄牛肉酱。另置一锅烧待水沸腾后放入意面，加少许盐煮约7-8分即可。</string>
				</dict>
			</array>
			<key>ingredients</key>
			<array>
				<dict>
					<key>howMuch</key>
					<string>100克</string>
					<key>whatFood</key>
					<string>意大利面</string>
				</dict>
				<dict>
					<key>howMuch</key>
					<string>一块</string>
					<key>whatFood</key>
					<string>牛肉</string>
				</dict>
				<dict>
					<key>howMuch</key>
					<string>1/4个</string>
					<key>whatFood</key>
					<string>洋葱</string>
				</dict>
				<dict>
					<key>howMuch</key>
					<string>各半个</string>
					<key>whatFood</key>
					<string>蕃茄，胡萝卜</string>
				</dict>
				<dict>
					<key>howMuch</key>
					<string>2瓣，2大匙</string>
					<key>whatFood</key>
					<string>蒜，蕃茄酱</string>
				</dict>
				<dict>
					<key>howMuch</key>
					<string>适量</string>
					<key>whatFood</key>
					<string>黄油 盐 味精 黑胡椒粉</string>
				</dict>
			</array>
		</dict>
	</dict>
	<dict>
		<key>cellInfo</key>
		<dict>
			<key>titleName</key>
			<string>心形冻酸奶芝士蛋糕</string>
			<key>numberId</key>
			<string>03</string>
			<key>imageURL</key>
			<string>http://img5.duitang.com/uploads/item/201508/23/20150823030452_zVXPY.jpeg</string>
			<key>detailName</key>
			<string>西式甜点</string>
		</dict>
		<key>detailCell</key>
		<dict>
			<key>doWays</key>
			<array>
				<dict>
					<key>time</key>
					<string>泡水软化</string>
					<key>howDo</key>
					<string>1.消化饼用擀面杖擀碎。黄油放入微波炉里融化，吉利丁片泡水软化，奶油奶酪室温软化。</string>
				</dict>
				<dict>
					<key>time</key>
					<string>搅拌均匀</string>
					<key>howDo</key>
					<string>2.把融化和黄油和压碎的饼干碎混合成饼底材料倒入模具，压实后放入冰箱冷藏备用。奶油奶酪、细砂糖放在容器里隔温水打发至光滑无颗粒状，加入蛋黄，朗姆酒，柠檬汁搅拌均匀。</string>
				</dict>
				<dict>
					<key>time</key>
					<string>加热</string>
					<key>howDo</key>
					<string>3.加入酸奶，搅拌成芝士糊。将牛奶和淡奶油用微波炉加热，不要加热的太烫，将软化的吉利丁片沥干水，放入加热好的混合物中，搅拌融化。分三次倒入芝士糊中边搅拌均匀，再加入下一次。</string>
				</dict>
				<dict>
					<key>time</key>
					<string>冷藏4个小时以上</string>
					<key>howDo</key>
					<string>4.最后将混合物倒入黄油饼底的蛋糕模中，轻轻震几下，可以让芝士糊的气泡消失，然后放入冰箱中冷藏4个小时以上，芝士糊凝结就可以了。</string>
				</dict>
			</array>
			<key>ingredients</key>
			<array>
				<dict>
					<key>howMuch</key>
					<string>适量</string>
					<key>whatFood</key>
					<string>奶油奶酪，黄油</string>
				</dict>
				<dict>
					<key>howMuch</key>
					<string>100克</string>
					<key>whatFood</key>
					<string>饼干</string>
				</dict>
				<dict>
					<key>howMuch</key>
					<string>1勺</string>
					<key>whatFood</key>
					<string>细砂糖</string>
				</dict>
				<dict>
					<key>howMuch</key>
					<string>200克</string>
					<key>whatFood</key>
					<string>温水</string>
				</dict>
			</array>
		</dict>
	</dict>
	<dict>
		<key>cellInfo</key>
		<dict>
			<key>titleName</key>
			<string>美白薏仁粥</string>
			<key>numberId</key>
			<string>04</string>
			<key>imageURL</key>
			<string>http://img4.duitang.com/uploads/blog/201504/30/20150430233352_Geenc.thumb.700_0.jpeg</string>
			<key>detailName</key>
			<string>中式早点</string>
		</dict>
		<key>detailCell</key>
		<dict>
			<key>doWays</key>
			<array>
				<dict>
					<key>time</key>
					<string>准备工作</string>
					<key>howDo</key>
					<string>1.薏仁洗净</string>
				</dict>
				<dict>
					<key>time</key>
					<string>适量的水</string>
					<key>howDo</key>
					<string>2.将薏仁、大米倒入砂锅中，加入适量的水</string>
				</dict>
				<dict>
					<key>time</key>
					<string>慢煮</string>
					<key>howDo</key>
					<string>3.小火慢煮2-3小时即可。</string>
				</dict>
			</array>
			<key>ingredients</key>
			<array>
				<dict>
					<key>howMuch</key>
					<string>20克</string>
					<key>whatFood</key>
					<string>薏仁</string>
				</dict>
				<dict>
					<key>howMuch</key>
					<string>100克</string>
					<key>whatFood</key>
					<string>大米</string>
				</dict>
				<dict>
					<key>howMuch</key>
					<string>适量</string>
					<key>whatFood</key>
					<string>水</string>
				</dict>
			</array>
		</dict>
	</dict>
	<dict>
		<key>cellInfo</key>
		<dict>
			<key>titleName</key>
			<string>柠汁茶香排骨</string>
			<key>numberId</key>
			<string>05</string>
			<key>imageURL</key>
			<string>http://cdn.duitang.com/uploads/blog/201504/13/20150413222846_RZGFi.thumb.700_0.jpeg</string>
			<key>detailName</key>
			<string>中式菜肴</string>
		</dict>
		<key>detailCell</key>
		<dict>
			<key>doWays</key>
			<array>
				<dict>
					<key>time</key>
					<string>准备工作</string>
					<key>howDo</key>
					<string>1.排骨用盐，适量生抽，料酒，适量生粉腌制半小时以上 ，柠檬取皮，切丝 ，姜切丝 ，柠檬取柠檬汁</string>
				</dict>
				<dict>
					<key>time</key>
					<string>5分钟左右</string>
					<key>howDo</key>
					<string>2.红茶用热水冲泡5分钟左右 ,锅内倒油烧热 ,倒入腌制好的排骨煎至两面金黄</string>
				</dict>
				<dict>
					<key>time</key>
					<string>过滤</string>
					<key>howDo</key>
					<string>3.倒入过滤掉茶叶的红茶，放入柠檬皮和姜丝，放入生抽，老抽，糖，适量盐调味，焖至汤汁快收干 ,倒入柠檬汁，翻炒片刻装盘即可</string>
				</dict>
			</array>
			<key>ingredients</key>
			<array>
				<dict>
					<key>howMuch</key>
					<string>500克</string>
					<key>whatFood</key>
					<string>肋排</string>
				</dict>
				<dict>
					<key>howMuch</key>
					<string>半个</string>
					<key>whatFood</key>
					<string>柠檬</string>
				</dict>
				<dict>
					<key>howMuch</key>
					<string>适量</string>
					<key>whatFood</key>
					<string>红茶，姜，盐</string>
				</dict>
				<dict>
					<key>howMuch</key>
					<string>适量</string>
					<key>whatFood</key>
					<string>生抽，老抽</string>
				</dict>
				<dict>
					<key>howMuch</key>
					<string>适量</string>
					<key>whatFood</key>
					<string>料酒，白糖，生粉</string>
				</dict>
			</array>
		</dict>
	</dict>
	<dict>
		<key>cellInfo</key>
		<dict>
			<key>titleName</key>
			<string>蜜烧红薯</string>
			<key>numberId</key>
			<string>06</string>
			<key>imageURL</key>
			<string>http://cdn.duitang.com/uploads/item/201601/20/20160120160254_RfFC3.jpeg</string>
			<key>detailName</key>
			<string>中式甜点</string>
		</dict>
		<key>detailCell</key>
		<dict>
			<key>doWays</key>
			<array>
				<dict>
					<key>time</key>
					<string>准备工作</string>
					<key>howDo</key>
					<string>1.红薯洗净去皮切1cm见方的小块，裹上少许淀粉，锅内少许油，放入红薯慢慢煎至表面焦黄盛出备用。</string>
				</dict>
				<dict>
					<key>time</key>
					<string>融化</string>
					<key>howDo</key>
					<string>2.锅中放入冰糖和少许水，煮至冰糖融化，待糖上色，大火收汁。</string>
				</dict>
				<dict>
					<key>time</key>
					<string>均匀裹住红薯</string>
					<key>howDo</key>
					<string>3.倒入煎好的红薯，晃动锅子让糖汁均匀裹住红薯，关火装盘，撒上芝麻即可</string>
				</dict>
			</array>
			<key>ingredients</key>
			<array>
				<dict>
					<key>howMuch</key>
					<string>200g</string>
					<key>whatFood</key>
					<string>红薯</string>
				</dict>
				<dict>
					<key>howMuch</key>
					<string>少许</string>
					<key>whatFood</key>
					<string>白芝麻</string>
				</dict>
				<dict>
					<key>howMuch</key>
					<string>50g</string>
					<key>whatFood</key>
					<string>冰糖</string>
				</dict>
			</array>
		</dict>
	</dict>
	<dict>
		<key>cellInfo</key>
		<dict>
			<key>titleName</key>
			<string>芒果班戟</string>
			<key>numberId</key>
			<string>07</string>
			<key>imageURL</key>
			<string>http://img4.duitang.com/uploads/item/201601/23/20160123220403_mfj5Q.png</string>
			<key>detailName</key>
			<string>水果甜点</string>
		</dict>
		<key>detailCell</key>
		<dict>
			<key>doWays</key>
			<array>
				<dict>
					<key>time</key>
					<string>准备工作</string>
					<key>howDo</key>
					<string>1.将低筋面粉过筛后加入牛奶中，搅拌均匀至无颗粒。鸡蛋加入35克的砂糖搅拌均匀至砂糖溶化。将搅拌好的蛋液加入到面粉牛奶糊中，再加入油搅拌均匀，最后将面糊过筛待用。</string>
				</dict>
				<dict>
					<key>time</key>
					<string>小火</string>
					<key>howDo</key>
					<string>2.将不沾平底锅烧热，转小火，不放油，将一勺（乘汤用的勺子）面糊倒入锅中，迅速转匀，一面煎好以后翻面。以此将所有面糊做成薄面饼，大约可做8个。</string>
				</dict>
				<dict>
					<key>time</key>
					<string>凝固</string>
					<key>howDo</key>
					<string>3.将芒果去皮，沿果核切下果肉，再纵切成长条。鲜奶油加入40克砂糖用搅拌 器将奶油打发（奶油呈凝固的固体状）。</string>
				</dict>
				<dict>
					<key>time</key>
					<string>面饼</string>
					<key>howDo</key>
					<string>4.取一张面饼，在中心铺上一层奶油糊， 再放一块芒果条，再铺一层奶油糊。最后将面饼包成四方形即可</string>
				</dict>
			</array>
			<key>ingredients</key>
			<array>
				<dict>
					<key>howMuch</key>
					<string>2个</string>
					<key>whatFood</key>
					<string>芒果</string>
				</dict>
				<dict>
					<key>howMuch</key>
					<string>80克</string>
					<key>whatFood</key>
					<string>低筋面粉</string>
				</dict>
				<dict>
					<key>howMuch</key>
					<string>75克</string>
					<key>whatFood</key>
					<string>白砂糖</string>
				</dict>
				<dict>
					<key>howMuch</key>
					<string>250克</string>
					<key>whatFood</key>
					<string>牛奶</string>
				</dict>
				<dict>
					<key>howMuch</key>
					<string>2个</string>
					<key>whatFood</key>
					<string>鸡蛋</string>
				</dict>
				<dict>
					<key>howMuch</key>
					<string>1汤匙</string>
					<key>whatFood</key>
					<string>食用油</string>
				</dict>
				<dict>
					<key>howMuch</key>
					<string>300克</string>
					<key>whatFood</key>
					<string>鲜奶油</string>
				</dict>
			</array>
		</dict>
	</dict>
	<dict>
		<key>cellInfo</key>
		<dict>
			<key>titleName</key>
			<string>冰糖雪梨养颜茶</string>
			<key>numberId</key>
			<string>08</string>
			<key>imageURL</key>
			<string>http://img4.duitang.com/uploads/item/201507/31/20150731040052_idkTA.jpeg</string>
			<key>detailName</key>
			<string>水果甜点</string>
		</dict>
		<key>detailCell</key>
		<dict>
			<key>doWays</key>
			<array>
				<dict>
					<key>time</key>
					<string>准备工作</string>
					<key>howDo</key>
					<string>1.水果洗净去皮，用挖球器挖出球形果肉（没有挖球器的朋友可以切成块哦）。</string>
				</dict>
				<dict>
					<key>time</key>
					<string>炖半个小时</string>
					<key>howDo</key>
					<string>2.将梨、冰糖、和适量水放进电饭煲炖半个小时（用煲汤的炖效果更好哦），大概等到雪梨炖软就行啦。</string>
				</dict>
				<dict>
					<key>time</key>
					<string>加点蜂蜜</string>
					<key>howDo</key>
					<string>3.装入广口玻璃器皿加点蜂蜜就可以食用啦（加蜂蜜的时候温度不要太高）</string>
				</dict>
			</array>
			<key>ingredients</key>
			<array>
				<dict>
					<key>howMuch</key>
					<string>2个</string>
					<key>whatFood</key>
					<string>雪梨</string>
				</dict>
				<dict>
					<key>howMuch</key>
					<string>100克</string>
					<key>whatFood</key>
					<string>冰糖</string>
				</dict>
				<dict>
					<key>howMuch</key>
					<string>30克</string>
					<key>whatFood</key>
					<string>蜂蜜</string>
				</dict>
				<dict>
					<key>howMuch</key>
					<string>1个</string>
					<key>whatFood</key>
					<string>水果挖球器</string>
				</dict>
				<dict>
					<key>howMuch</key>
					<string>1个</string>
					<key>whatFood</key>
					<string>广口玻璃器皿</string>
				</dict>
			</array>
		</dict>
	</dict>
	<dict>
		<key>cellInfo</key>
		<dict>
			<key>titleName</key>
			<string>咖啡甜酒芝士</string>
			<key>numberId</key>
			<string>09</string>
			<key>imageURL</key>
			<string>http://img4.duitang.com/uploads/item/201411/04/20141104201028_xrcyS.jpeg</string>
			<key>detailName</key>
			<string>午后茶</string>
		</dict>
		<key>detailCell</key>
		<dict>
			<key>doWays</key>
			<array>
				<dict>
					<key>time</key>
					<string>准备工作</string>
					<key>howDo</key>
					<string>1. 吉利丁片用冷水泡5-10分钟，待柔软后备用；咖啡粉用热水稀释成咖啡浓汁备用。奶酪切小块和15克糖混合，用打蛋器搅打至柔软，加入百利甜酒和咖啡浓汁，搅拌均匀。</string>
				</dict>
				<dict>
					<key>time</key>
					<string>搅拌</string>
					<key>howDo</key>
					<string>2. 将上述材料隔水加热，放入泡软的吉利丁片，搅拌至其融化即可关火。</string>
				</dict>
				<dict>
					<key>time</key>
					<string>搅拌均匀</string>
					<key>howDo</key>
					<string>3. 鲜奶油和10克糖打至六分发泡，跟以上咖啡奶酪糊混合后搅拌均匀，倒入模具，入冰箱冷藏至凝固即可。</string>
				</dict>
			</array>
			<key>ingredients</key>
			<array>
				<dict>
					<key>howMuch</key>
					<string>1个</string>
					<key>whatFood</key>
					<string>吉利丁片</string>
				</dict>
				<dict>
					<key>howMuch</key>
					<string>1袋</string>
					<key>whatFood</key>
					<string>速溶咖啡粉</string>
				</dict>
				<dict>
					<key>howMuch</key>
					<string>80克</string>
					<key>whatFood</key>
					<string>奶酪</string>
				</dict>
				<dict>
					<key>howMuch</key>
					<string>25克</string>
					<key>whatFood</key>
					<string>糖</string>
				</dict>
				<dict>
					<key>howMuch</key>
					<string>50ml</string>
					<key>whatFood</key>
					<string>百利甜酒</string>
				</dict>
				<dict>
					<key>howMuch</key>
					<string>80克</string>
					<key>whatFood</key>
					<string>鲜奶油</string>
				</dict>
			</array>
		</dict>
	</dict>
	<dict>
		<key>cellInfo</key>
		<dict>
			<key>titleName</key>
			<string>美味蛋挞</string>
			<key>numberId</key>
			<string>10</string>
			<key>imageURL</key>
			<string>http://img5.duitang.com/uploads/item/201309/26/20130926170548_XHrym.jpeg</string>
			<key>detailName</key>
			<string>西式甜点</string>
		</dict>
		<key>detailCell</key>
		<dict>
			<key>doWays</key>
			<array>
				<dict>
					<key>time</key>
					<string>准备工作</string>
					<key>howDo</key>
					<string>1.将红薯蒸熟放入食品袋压成泥状后，放少量牛奶拌匀。</string>
				</dict>
				<dict>
					<key>time</key>
					<string>15到20分钟</string>
					<key>howDo</key>
					<string> 2.装入蛋挞批中，放上一层芝士，烤箱200度烤15到20分钟就好啦。</string>
				</dict>
			</array>
			<key>ingredients</key>
			<array>
				<dict>
					<key>howMuch</key>
					<string>1个</string>
					<key>whatFood</key>
					<string>红薯</string>
				</dict>
				<dict>
					<key>howMuch</key>
					<string>300ml</string>
					<key>whatFood</key>
					<string>牛奶</string>
				</dict>
				<dict>
					<key>howMuch</key>
					<string>30g</string>
					<key>whatFood</key>
					<string>芝士</string>
				</dict>
			</array>
		</dict>
	</dict>
	<dict>
		<key>cellInfo</key>
		<dict>
			<key>titleName</key>
			<string>腐乳肉</string>
			<key>numberId</key>
			<string>11</string>
			<key>imageURL</key>
			<string>http://img5.duitang.com/uploads/item/201601/19/20160119093037_UaKsZ.jpeg</string>
			<key>detailName</key>
			<string>中式菜肴</string>
		</dict>
		<key>detailCell</key>
		<dict>
			<key>doWays</key>
			<array>
				<dict>
					<key>time</key>
					<string>准备工作</string>
					<key>howDo</key>
					<string>1.猪五花肉煮至八成熟后捞出。把煮好的猪五花肉切成大块，并用刀在肉皮上切出花纹。取两块豆腐乳用勺子研成泥，冰糖用刀压碎，生姜切大片，葱切段。碗里倒入适量料酒，放入冰糖。倒入研碎的豆腐乳和腐乳汁、一汤匙老抽，调匀。</string>
				</dict>
				<dict>
					<key>time</key>
					<string>10分钟</string>
					<key>howDo</key>
					<string>2.砂锅里加适量清水，放入五花肉块，八角、桂皮、香叶、生姜，葱段 ，大火煮开后，倒入调好的腐乳料汁小火炖制1小时候，调入精盐再炖制10分钟即可。</string>
				</dict>
			</array>
			<key>ingredients</key>
			<array>
				<dict>
					<key>howMuch</key>
					<string>500g</string>
					<key>whatFood</key>
					<string>猪五花肉</string>
				</dict>
				<dict>
					<key>howMuch</key>
					<string>4块</string>
					<key>whatFood</key>
					<string>红豆腐乳</string>
				</dict>
				<dict>
					<key>howMuch</key>
					<string>适量</string>
					<key>whatFood</key>
					<string>生姜、大葱、冰糖</string>
				</dict>
				<dict>
					<key>howMuch</key>
					<string>适量</string>
					<key>whatFood</key>
					<string>料酒、老抽</string>
				</dict>
				<dict>
					<key>howMuch</key>
					<string>适量</string>
					<key>whatFood</key>
					<string>八角、桂皮、香叶</string>
				</dict>
			</array>
		</dict>
	</dict>
</array>
</plist>
